body {
  font: 14px/16px "Roboto", sans-serif;
  color: #666666;
  background-color: #F0F3F4;
  margin:0px;
}
.page-top{
  background-color: #1C2B36;
  z-index: 904;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  height: 66px;
  width: 100%;
  min-width: 320px;
  padding: 0 32px 0 40px;
  box-sizing:border-box;
}
a.al-logo {
    color: #ffffff;
    display: block;
    font-size: 24px;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 60px;
	text-decoration:none;
}
a.al-logo span {
    color: #209e91;
}
.al-main {
    padding: 66px 0 34px 0;
    min-height: 500px;
    transition: 0.5s;
}
.al-content {
    padding: 8px 32px 8px 40px;
}
.content-top {
    padding-top: 13px;
    padding-bottom: 27px;
}
h1.al-title {
    font-weight: 700;
    color: #666666;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.9;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list-items{
	margin-bottom:20px;
}
.list-items ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.list-items > ul > li {
	margin-right: 4.56666%;
}
nav{
    display: block;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: none;
	float:left;
}
.pagination > li:first-child {
    display: inline;
}
.pagination > li.shows {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    pointer-events: none;
}
.pagination > li:first-of-type > a, .pagination > li:first-of-type > span {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination .page-item .page-link {
    cursor: pointer;
}

.pagination .page-item .page-link{
	cursor:pointer;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	pointer-events:none;
}
.pagination > li{
	display:none;
}
.pagination > .active + li, .pagination > .active + li + li{
	display:inline;
}
.pagination > li:first-child{
	display:inline;
}
.pagination > li:first-child + li{
	display:inline;
}
.pagination > li:last-child{
	display:inline;
}
.pagination > li.shows{
	display:inline;
}
.pagination > li.active{
	display:inline;
}
.pagination > li:nth-last-child(2) {
  display: inline;
}
.pagination > li.active a{
	background:#337ab7;
	color:#fff;
}
.pagination > li > a:hover{
	background:#337ab7;
	color:#fff;
}
.panel {
    color: #666666;
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    position: relative;
    margin-bottom: 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}
.panel.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.pending-table .panel-body {
    padding: 0px;
}
.panel.with-scroll .panel-body {
    overflow-y: auto;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.pending-table .table-responsive {
    margin: 0px;
}
.table {
    width: 100%;
    max-width: 100%;
	margin-bottom: 0px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    border-bottom: 1px solid gainsboro;
    white-space: nowrap;
}
.table > thead > tr > th {
    border-bottom: none;
    background: #1c2b36;
    color: #f5f5f5;
    vertical-align: middle;
}
.table > thead > tr > th:first-child {
    text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.1);
}
.pending-table .table-responsive .table > tbody > tr > td {
    border-top: 1px solid #ececec;
    font-size: 16px;
    font-weight: normal;
    line-height: 42px;
}
.pagination > li:last-of-type > a, .pagination > li:last-of-type > span {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.modal-h{
	max-height:200px;
	overflow-y:scroll;
}
.string-cl tbody, .string-cl tr{
	display:block;
}
.new-tr .table-striped > tbody > tr:nth-of-type(2n+1){
	background:#00b19d;
}
.new-tr{
	background:#009886;
}
.new-tr td, .new-tr th{
	color:#fff;
}
.click-cl{
	color:#25649f;
	cursor:pointer;
}
.clearfix:after{
	position:relative;
	clear:both;
	height:0;
	display:block;
	content:'';
}